.custom-border {
  border: 1.5px solid #cccccc; /* Light gray border with 2px width */
  border-radius: 7px; /* Optional: rounded corners */
}

.nav-css {
  background-color: #ececec;
  margin-bottom: 1rem;
}

a:hover,
a:active {
  color: black;
  font-weight: 600;
}

.nav-item.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none; /* Hidden by default */
}
