<a
  style="cursor: pointer"
  class="list-group-item p-2"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="d-flex justify-content-between align-items-center">
    <!-- Text Content -->
    <div>
      <h4 class="list-group-item-heading">{{ recipe?.name }}</h4>
      <p class="list-group-item-text mb-0">{{ recipe?.description }}</p>
    </div>
    <img
      src="{{ recipe?.imagePath }}"
      alt="{{ recipe?.name }}"
      class="img-fluid"
      style="max-height: 70px; max-width: 70px"
    />
  </div>
</a>
