.custom-border,
.custom-border:visited {
  border: 1.5px solid #cccccc;
  border-radius: 7px;
  transition: all 0.3s;
}

.custom-border:hover,
.custom-border:active {
  background-color: #f3f3f3;
}

img {
  margin-left: 1rem;
}

.list-group-item.active {
  background-color: #e6eee4;
}

.list-group-item {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  transition: all 0.3s;
}
